
  .navbar {
    position:fixed;
    /* background-color: black; */
    width: 100vw;
    min-height: 7vh;
    top: 0; 
    overflow: hidden;
    display: flex;
    align-items:center;
    padding-right:63px;
    padding-left:63px;
    justify-content: space-between;
    z-index: 100;
  }
  .asset-x {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 50%;
    background: url(https://static.codia.ai/image/2025-03-03/f8831642-03c4-4d1f-ba5a-747c484e78ff.png)
      no-repeat center;
    background-size: cover;
    z-index: 2;
  }
  .ecell-logo {
    color: #ffffff;
    font-family: Outfit, var(--default-font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 17.64px;
    text-align: center;
    z-index: 4;
  }
  .eventss {
    color: #ffffff;
    font-family: Outfit, var(--default-font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 17.64px;
    text-align: center;
  }
  .speakers {
    color: #ffffff;
    font-family: Outfit, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 17.64px;
    text-align: center;
  }
  .agenda {
    color: #ffffff;
    font-family: Outfit, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 17.64px;
    text-align: center;
  }
  .sponsors-1 {
    color: #ffffff;
    font-family: Outfit, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 17.64px;
    text-align: center;
  }
  .contact-us {
    color: #ffffff;
    font-family: Outfit, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 17.64px;
    text-align: center;
  }
  /* Responsive Design */
@media (max-width: 1000px) {
    .NavNav{
        display: none;
    }
}