* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ff6b00;
    --bg-light: #fff5cf;
    --bg-dark: #131313;
    --text-light: #ffffff;
}

body {
    margin: 0;
    font-family: "Outfit", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

#root {
    width: 100%;
    min-height: 100vh;
}
